<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img alt="Image" class="img-fluid"
				     src="assets/img/login-admin.svg">
			</div>
			<div class="col-md-6 contents">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<div class="mb-4">
							<h3>Sign In</h3>
							<p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
						</div>
						<form action="#" method="post">
							<div class="form-group first">
								<label for="username">Username</label>
								<input class="form-control" id="username" type="text">
							</div>
							<div class="form-group last mb-4">
								<label for="password">Password</label>
								<input class="form-control" id="password" type="password">
							</div>
							<div class="d-flex mb-5 align-items-center">
								<label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
									<input checked="checked" type="checkbox"/>
									<div class="control__indicator"></div>
								</label>
								<span class="ml-auto"><a class="forgot-pass" href="#">Forgot Password</a></span>
							</div>
							<input class="btn btn-block btn-primary" type="submit" value="Log In">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


