<div *ngIf="toggleMenu" class="dashboard-nav" style="z-index: 100">
	<header>
		<button class="btn-clear text-white menu-toggle" href="#!" type="button"><i class="fas fa-bars"></i></button>
		<button (click)="onToggleMenu()" class="btn-clear text-white brand-logo" type="button">
			<span>Glasmmy</span>
		</button>
	</header>
	<nav class="dashboard-nav-list">
		<button class="btn-clear text-white dashboard-nav-item" type="button">
			<i class="fas fa-home"></i> Home
		</button>
		<button class="btn-clear text-white dashboard-nav-item active" type="button">
			Dashboard
		</button>
		<button class="btn-clear text-white dashboard-nav-item" type="button"><i class="fas fa-cogs"></i> Settings</button>
		<div class="nav-item-divider"></div>
		<button (click)="logout()" class="btn-clear text-white dashboard-nav-item" type="button"><i
			class="fas fa-sign-out-alt"></i> Logout
		</button>
	</nav>
</div>
