.left-shadow {
  box-shadow: -35px 0px 50px -42px rgba(0,0,0,0.51);
  -webkit-box-shadow: -35px 0px 50px -42px rgba(0,0,0,0.51);
  -moz-box-shadow: -35px 0px 50px -42px rgba(0,0,0,0.51);
}
.right-shadow {
  box-shadow: 35px 0px 50px -42px rgba(0,0,0,0.51);
  -webkit-box-shadow: 35px 0px 50px -42px rgba(0,0,0,0.51);
  -moz-box-shadow: 35px 0px 50px -42px rgba(0,0,0,0.51);
}