<div class="row align-content-center justify-content-md-center h-100 h-100">
	<section class="py-md-5 mr-md-2 col-12 col-md-6 col-lg-5 left-shadow">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/assets/img/birthday.jpg" class="rounded-1 d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/wedding.jpg" class="rounded-1 d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/planning.jpg" class="rounded-1 d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/party.jpg" class="rounded-1 d-block w-100" alt="...">
				</div>
			</div>
		</div>
	</section>
	<section class="py-md-5 ml-md-2 col-12 col-md-6 col-lg-5 right-shadow"></section>
</div>

