<h1 class="mt-5 text-dark">Invitaciones</h1>
<div class="mx-md-3 ">
	<div class="row mt-1 mt-md-3">
		<h4 class="text-secondary mb-3">Revisa tus diferentes invitaciones</h4>
		<div class="col-6 col-lg-3 col-xl-2">
			<div class="card p-1 p-md-2 my-2 m-md-0 h-100 confirm-card">
				<div class="card-img-top px-1 py-4">
					<img src="/assets/img/confirmed.png" alt="confirmed icon" class="w-100 m-auto">
				</div>
				<div class="card-body px-1 align-content-end">
					<h4 class="text-dark fw-light">Confirmados <span class="fw-bold">3</span></h4>
				</div>
			</div>
		</div>
		<div class="col-6 col-lg-3 col-xl-2 ">
			<div class="card p-1 p-md-2 my-2 pending-card m-md-0 h-100">
				<div class="card-img-top p-3">
					<img src="/assets/img/pending.png" alt="confirmed icon" class="w-100 m-auto">
				</div>
				<div class="card-body">
					<h4 class="text-dark fw-light">Pendientes <span class="fw-bold ">5</span></h4>
				</div>
			</div>
		</div>
		<div class="col-6 col-lg-3 col-xl-2 mt-3 mt-md-0">
			<div class="card p-1 p-md-2 my-2 rejected-card m-md-0 h-100">
				<div class="card-img-top p-3">
					<img src="/assets/img/rejected.png" alt="confirmed icon" class="w-100 m-auto">
				</div>
				<div class="card-body">
					<h4 class="text-dark fw-light">Cancelados <span class="fw-bold ">1</span></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12">
			<h4 class="text-secondary my-3">Aca puedes cambiar tus invitaciones</h4>
			<ag-grid-angular
				class="ag-theme-quartz"
				style="height: 500px;"
				[rowData]="rowData"
				[columnDefs]="colDefs">
			</ag-grid-angular>
		</div>
	</div>
</div>
