<div class="container-fluid form-confirmacion py-4">
	<div class="row">
		<ngx-skeleton-loader *ngIf="!invitacionConfimacion" appearance="line" count="8"/>
		<div *ngIf="invitacionConfimacion" [formGroup]="formGroup">
			<h2 *ngIf="!invitacionConfimacion.confirmacion" class="form-confirmacion-title fw-bold mb-3">¿Deseas confirmar tu
				asistencia?</h2>
			<h2 *ngIf="invitacionConfimacion.confirmacion" class="form-confirmacion-title fw-bold mb-3">¡Ya has confirmado tu
				asistencia!</h2>
			<h3 class="form-confirmacion-subtitle fw-medium">Aca tienes algunos datos del evento para que lo recuerdes</h3>

			<div *ngIf="!!invitacionConfimacion?.mesa_asignada" class="col-12 my-3">
				<h4 class="form-confirmacion-text-mesa_asignada">Fecha del
					evento: {{ invitacionConfimacion.invitacion.fecha_evento | date:"dd/MM/yyyy" }}</h4>
			</div>

			<div *ngIf="!!invitacionConfimacion?.mesa_asignada" class="col-12 my-3">
				<h4 class="form-confirmacion-text-mesa_asignada">Mesa
					asignada: {{ invitacionConfimacion.mesa_asignada || "" }}</h4>
			</div>

			<div *ngIf="!invitacionConfimacion.confirmacion && !invitacionConfimacion?.nombre" class="col-12">
				<div class="my-2 col-md-7 col-xl-6 me-xl-5">
					<label class="form-label" for="nombre">Nombre:</label>
					<input class="form-control form-confirmacion-input-nombre" formControlName="nombre" id="nombre"
					       name="nombre"
					       placeholder="" type="text"/>
				</div>
			</div>
			<div *ngIf="!!invitacionConfimacion?.nombre" class="col-12 my-3">
				<h4 class="form-confirmacion-text-nombre">Nombre: {{ invitacionConfimacion.nombre || "" }}</h4>
			</div>
			<div *ngIf="invitacionConfimacion.confirmacion" class="col-12 my-3">
				<h4 class="form-confirmacion-text-nombre">Total de
					invitados: {{ invitacionConfimacion.confirmacion.total_personas_conf || "" }}</h4>
			</div>
			<div *ngIf="!invitacionConfimacion.confirmacion" class="col-12">
				<div class="my-2 col-md-7 col-xl-6 me-xl-5">
					<label class="form-label" for="cant_asistir">Cantidad de asistentes:</label>
					<input
						class="form-control form-confirmacion-input-cant_asistir"
						formControlName="cant_asistir" id="cant_asistir" name="cant_asistir"
						type="number"/>
					<div *ngIf="!formGroup.get('cant_asistir')?.valid"
					     class="alert alert-danger mt-3"
					     role="alert">
						<p *ngIf="validators('cant_asistir').required || validators('cant_asistir').min">
							Debes de ingresar al menos un invitado</p>
						<p *ngIf="validators('cant_asistir').max">Puedes confirmar hasta {{ validators('cant_asistir').max.max }}
							{{ validators('cant_asistir').max.max > 1 ? 'invitados' : 'invitado' }}</p>
					</div>
				</div>
			</div>
			<div *ngIf="!invitacionConfimacion.confirmacion" class="col-12 mt-4 mb-3 form-check">
				<input class="form-check-input" formControlName="checkBAgregarNombres" id="flexCheckDefault" type="checkbox">
				<label class="form-check-label h5" for="flexCheckDefault">
					¿Deseas agregar el nombre de tus acompañantes?
				</label>
			</div>
			<div *ngIf="formGroup.get('checkBAgregarNombres')?.value">
				<div *ngFor="let acompanante of acompanantesList; let i = index " class="col-12 col-md-7 row my-2">
					<div class="col-auto"><label [for]="acompanante" class="form-label">Invitado #{{ i + 1 }}</label></div>
					<div class="col-7">
						<input [formControlName]="acompanante" [name]="acompanante"
						       class="form-control form-confirmacion-input-acompanante"
						       placeholder="Nombre del acompañante"/>
					</div>
					<div class="col-auto">
						<button (click)="removeAcompanante()" class="btn btn-warning fw-bold me-1" type="button">
							-
						</button>
						<button (click)="addAcompanante(i + 2)"
						        *ngIf="(i + 1 == acompanantesList.length) && (i + 1) < this.cantAsistir"
						        class="btn btn-success fw-bold " type="button">+
						</button>
					</div>
				</div>
			</div>
			<div *ngIf="invitacionConfimacion.confirmacion" class="col-12 col-md-7 my-2">
				<h5>Acomapañantes agregados:</h5>
				<ul class="list-group list-group-flush">
					<li *ngFor="let acompanantes of invitacionConfimacion.confirmacion?.acompanantes?.split(',')"
					    class="list-group-item form-confirmacion-text-acompanantes h6">- {{ acompanantes }}
					</li>
				</ul>
			</div>
			<h4 *ngIf="invitacionConfimacion.confirmacion" class="form-confirmacion-text-teesperamos">¡Te esperamos!</h4>
			<div *ngIf="!invitacionConfimacion.confirmacion" class="offset-md-9 offset-xl-5 col-md-2 col-xl-2 col-12 my-3">
				<button (click)="saveConfirmacion()" *ngIf="!isLoading" class="btn btn-success w-100 form-confirmacion-btn-submit" type="button">Confirmar
				</button>
				<ng-icon *ngIf="isLoading" [size]="'25px'" class="rotate" name="matAutorenew"
				         style="width: 25px;height: 30px;"></ng-icon>
			</div>
		</div>

	</div>
</div>
