body {
  color: #081E26;
}

.form-confirmacion-text-acompanantes {
  background: #F2F0F0;
}

.form-confirmacion-title {
  color: #081E26;
}

.form-confirmacion-subtitle {
  color: #081E26;
}

.form-confirmacion-text-mesa_asignada {
  color: #081E26;
}

.form-confirmacion-input-nombre {

}

.form-confirmacion-text-nombre {
  color: #081E26;
}

.form-confirmacion-input-cant_asistir {
  color: #081E26;
}
.form-confirmacion-text-teesperamos {
  color: #081E26;
}

.form-confirmacion-btn-submit {
  background-color: #8C8737;
  color: #081E26;
}
